img {
    width: 30%;
    /* margin: 1.66666%  10% divided by 6; left and right for each of 3 images*/
    margin: calc(10%/6);
}

nav {
    /*font-family: 'Megrim', cursive; */
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    border-bottom: 2px solid #f1f1f1;
    width: 30%;
    margin-left: calc(10%/6);
    /*padding: 20px 0px; /* 20px top/bottom, 0px left/right */
    padding: 1.2em 0em; /* 20px top/bottom, 0px left/right */
}