body {
    background-color: black;
}

button {
    background: none;
    color: #ffa260;
    border: 2px solid;
    padding 1em 2em;
    font-size: 1em;
    transition: color 0.25s, border-color 0.25s, box-shadow 0.25s, transform 0.25s,;
    /* better to list individually than just saying "transition: all 0.25;*/
}

button:hover {
    border-color: #f1ff5c;
    color: white;
    box-shadow: 0 0.5em 0.5em -0.3em #f1ff5c;
    transform: translateY(-0.25em);
    cursor: pointer;
}

div {
    height: 200px;
    width: 200px;
    background-color: blueviolet;
}

.circle {
    width: 300px;
    height: 300px;
    background-color: magenta;
    transition: 1.5s;
}
/* transition: prop_name duration timing_function delay*/

.circle:hover {
    background-color: cyan;
    border-radius: 50%;
    transition: background-color 2s 1s; /* 2s transition with 1s delay */
}

section {
    background-color: #caffbf;
}

section:first-of-type {
    background-color: #bdb2ff;
}
section:last-of-type {
    transform: skew(-20deg) rotate(10deg) scale(0.7);
}

h1 {
 background-color: #dc2f02;
 border: 5px solid #ffb703;
 color: #fdffb6;
 padding: 0.7em;
 width: 300px;
 font-size: 1.8em;
 text-align: center;
 margin: 20px auto;
 font-family: 'Courier New', Courier, monospace;
 font-weight: lighter;
}

h1:nth-of-type(2n) {
    background-color: #219ebc;   
}

h1:nth-of-type(3n) {
    background-color: #023047;   
 }

 h1:nth-of-type(4n) {
    background-color: #ffb703;
}

section:first-of-type h1:nth-of-type(1) {
    transform: rotate(45deg)
}

section:first-of-type h1:nth-of-type(2) {
    transform: scale(1.5)
}

section:first-of-type h1:nth-of-type(3) {
    transform-origin: top left;
    transform: rotate(45deg)
}

section:first-of-type h1:nth-of-type(4) {
    transform-origin: bottom right;
    transform: rotate(45deg)
}

section:last-of-type h1:nth-of-type(2) {
    transform: scale(0.75) rotate(-15deg);
}

section:last-of-type h1:nth-of-type(3) {
    transform: rotate(150deg) scale(1.1) skew(20deg, 10deg);
}
